@model PrimerProyecto.Models.Usuario

@{
    ViewData["Title"] = "Create";
}
@section Styles {
    @{await Html.RenderPartialAsync("_EstilosFormularios");}
}
<h1>Crear nuevo:</h1>
<hr />
<div class="row">
    <div class="col-sm-12">
        <h1 class="titulo">Usuario</h1>
    </div>
</div>
<div class="container-fluid">
    <div class="container">
        <div class="formBox">
            <form asp-action="Create" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="inputBox">
                            <div class="inputText">Nombre</div>
                            <input asp-for="Nombre" class="input" />
                            <span asp-validation-for="Nombre" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="inputBox">
                            <div class="inputText">Apellido</div>
                            <input asp-for="Apellido" class="input" />
                            <span asp-validation-for="Apellido" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="inputBox">
                            <div class="inputText">Email</div>
                            <input asp-for="Email" class="input" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="inputBox">
                            <select class="selectpicker form-control " data-live-search="true" title="ROL" name="Rol">
                                @foreach (var kvp in (IDictionary<int, string>)ViewBag.Roles)
                                {
                                    @:<option value="@kvp.Key">@kvp.Value</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="inputBox">
                            <div class="inputText">Clave</div>
                            <input asp-for="Clave" class="input" />
                            <span asp-validation-for="Clave" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="inputBox">
                            <div class="fotosContainer btn btn-lg btn-light">
                                <input asp-for="AvatarFile" class="fotos" />SELECCIONAR AVATAR
                                <span asp-validation-for="AvatarFile" class="text-danger"></span>
                            </div>
                        </div>
                    </div>                   
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <input type="submit" value="Crear" name="" class="button" />
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-sm-12">
                        <a asp-action="Index" class="buttonIndex btn btn-dark">Regresar a la lista</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    @{await Html.RenderPartialAsync("_ScriptsFormularios");}
}