@{
    ViewData["Title"] = "Inicio";
}
<div class="text-center">
    <h1 class="display-4">@ViewData["Saludo"]</h1>
    <img src="https://lh3.googleusercontent.com/proxy/8CgYfqIL_viMuuNfk5PoWrEWJ4ZiHoRv9_YAYR5UxUMBoq2iSAberlV6Q0_v3aBuFEsjMY5NceeE8E6wmujXp7EweodGkrtrxeYqHdwlea-w4No5r4HwLDQy5gM4becJofcJ1CiLkS97rvbOzKqY"/>
</div>
