@model PrimerProyecto.Models.ContratoAlquiler
@{
    ViewData["Title"] = "BuscarVigentes";
}

@section Styles {
    @{await Html.RenderPartialAsync("_EstilosFormularios");}
}

<div class="row">
    <div class="col-sm-12">
        <h1 class="titulo">Buscar contratos vigentes en esta fecha</h1>
    </div>
</div>
<div class="container-fluid">
    <div class="container">
        <div class="formBox">
            <form asp-action="MostrarVigentes">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="inputBoxEdit">
                            <div class="inputTextEdit">Fecha de inicio</div>
                            <input asp-for="FechaInicio" class="inputEdit" />
                            <span asp-validation-for="FechaInicio" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="inputBoxEdit">
                            <div class="inputTextEdit">Fecha de finalizacion</div>
                            <input asp-for="FechaFinalizacion" class="inputEdit" />
                            <span asp-validation-for="FechaFinalizacion" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <input type="submit" value="Ver" name="" class="button" />
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-sm-12">
                        <a asp-action="Index" class="buttonIndex btn btn-dark">Regresar a la lista</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    @{await Html.RenderPartialAsync("_ScriptsFormularios");}
}


