@model PrimerProyecto.Models.Propietario

@{
    ViewData["Title"] = "Create";
}

<h1>Crear nuevo:</h1>
<hr />
<div class="row">
    <div class="col-sm-12">
        <h1 class="titulo">Propietario</h1>
    </div>
</div>
<div class="container-fluid">
    <div class="container">
        <div class="formBox">         
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="inputBox">
                            <div class="inputText">DNI</div>
                            <input asp-for="Dni" class="input" />
                            <span asp-validation-for="Dni" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="inputBox">
                            <div class="inputText">Nombre</div>
                            <input asp-for="Nombre" class="input" />
                            <span asp-validation-for="Nombre" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="inputBox">
                            <div class="inputText">Apellido</div>
                            <input asp-for="Apellido" class="input" />
                            <span asp-validation-for="Apellido" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="inputBox">
                            <div class="inputText">Email</div>
                            <input asp-for="Email" class="input" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <div class="inputBox">
                            <div class="inputText">Telefono</div>
                            <input asp-for="Telefono" class="input" />
                            <span asp-validation-for="Telefono" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <input type="submit" value="Crear" name="" class="button" />
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-sm-12">
                        <button asp-action="Index" class="button" style="background-color: #212121">Regresar a la lista</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(".input").focus(function () {
        $(this).parent().addClass("focus");
    })
</script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
