@model PrimerProyecto.Models.Inmueble

@{
    ViewData["Title"] = "Create";
}
@section Styles {
    @{await Html.RenderPartialAsync("_EstilosFormularios");}
}
<h1>Crear nuevo:</h1>
<hr />
<div class="row">
    <div class="col-sm-12">
        <h1 class="titulo">Inmueble</h1>
    </div>
</div>
<div class="container-fluid">
    <div class="container">
        <div class="formBox">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="inputBox">
                            <div class="inputText">Direccion</div>
                            <input asp-for="Direccion" class="input" />
                            <span asp-validation-for="Direccion" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="inputBox">
                            <div class="inputText">Uso</div>
                            <input asp-for="Uso" class="input" />
                            <span asp-validation-for="Uso" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="inputBox">
                            <div class="inputText">Tipo</div>
                            <input asp-for="Tipo" class="input" />
                            <span asp-validation-for="Tipo" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="inputBox">
                            <div class="inputText">Cantidad de ambientes</div>
                            <input asp-for="CantAmbientes" class="input" />
                            <span asp-validation-for="CantAmbientes" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="inputBox">
                            <div class="inputText">Precio</div>
                            <input asp-for="Precio" class="input" />
                            <span asp-validation-for="Precio" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="inputBox">
                            <div class="inputText" id="textoEstado">Estado</div>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="inputBox">
                            <div class="switch_box box_1">
                                <input asp-for="Estado"  class="switch_1" />
                            </div>
                            <span asp-validation-for="Estado" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="inputBox">
                            <select class="selectpicker form-control " data-live-search="true" title="PROPIETARIOS" name="PropietarioId">
                                @foreach (var item in (IList<Propietario>)ViewBag.Propietario)
                                {
                                    <option value="@item.Id">@(item.Nombre + " " + item.Apellido)</option>
                                }
                            </select>
                            <span asp-validation-for="PropietarioId" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <input type="submit" value="Crear" name="" class="button" />
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-sm-12">
                        <a asp-action="Index" class="buttonIndex btn btn-dark">Regresar a la lista</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    @{await Html.RenderPartialAsync("_ScriptsFormularios");}
}
