@model PrimerProyecto.Models.Inmueble

@{
    ViewData["Title"] = "Edit";
}
@section Styles {
    @{await Html.RenderPartialAsync("_EstilosFormularios");}
}

<h1>Editar</h1>
<hr />
<div class="row">
    <div class="col-sm-12">
        <h1 class="titulo">Inmueble</h1>
    </div>
</div>
<div class="container-fluid">
    <div class="container">
        <div class="formBox">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="inputBoxEdit">
                            <div class="inputTextEdit">Direccion</div>
                            <input asp-for="Direccion" class="inputEdit" />
                            <span asp-validation-for="Direccion" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="inputBoxEdit">
                            <div class="inputTextEdit">Uso</div>
                            <input asp-for="Uso" class="inputEdit" />
                            <span asp-validation-for="Uso" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="inputBoxEdit">
                            <div class="inputTextEdit">Tipo</div>
                            <input asp-for="Tipo" class="inputEdit" />
                            <span asp-validation-for="Tipo" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="inputBoxEdit">
                            <div class="inputTextEdit">Cantidad de ambientes</div>
                            <input asp-for="CantAmbientes" class="inputEdit" min="1" max="40" />
                            <span asp-validation-for="CantAmbientes" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="inputBoxEdit">
                            <div class="inputTextEdit">Precio</div>
                            <input asp-for="Precio" class="inputEdit" min="1000" maxlength="15" />
                            <span asp-validation-for="Precio" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="inputBoxEdit">
                            <div class="inputTextEdit">Estado</div>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="inputBox">
                            <div class="switch_box box_1">
                                <input asp-for="Estado" class="switch_1" />
                            </div>
                            <span asp-validation-for="Estado" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="inputBoxEdit">
                            <div class="inputTextEdit">Propietario</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="inputBox">
                            <select class="selectpicker form-control" data-live-search="true" title="Propietarios" name="PropietarioId">
                                <option hidden></option>
                                @foreach (var item in (IList<Propietario>)ViewBag.Propietario)
                                {
                                    @:<option @(item.Id == Model.PropietarioId ? "selected" : "") value="@item.Id">@(item.Nombre + " " + item.Apellido)</option>
                                }
                            </select>
                            <span asp-validation-for="PropietarioId" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <input type="submit" value="Guardar" name="" class="button" />
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-sm-12">
                        <a asp-action="Index" class="buttonIndex btn btn-dark">Regresar a la lista</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    @{await Html.RenderPartialAsync("_ScriptsFormularios");}
}
